@font-face {
  font-family: 'Dogicabold';
  src: url('fonts/dogicabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Dogica';
  src: url('fonts/dogica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
    font-family: dogica, monospace;
    font-size:16pt;
    margin:auto;
    background: transparent;;
    color:white;
    padding:0;
	text-align: center;
	cursor:		none;
}
h2 {
		
    font-family: dogicabold, monospace;
	font-size: 25pt;
	padding-top: 35px;
	padding-bottom: 15px;
}

main {
	padding-top: 10px;;
}

#CNV {
	background: black;
	margin:	10px;
	border:	none;
	width:	400px;
	height:	400px;
	cursor:cell;
}

#header {
	height: 100px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: -1;              /* Push it behind all other content */
  /*pointer-events: none;*/     /* Optional: prevent mouse interaction */
}

#navbar {
	height:180px;
    padding:20px 20px 0 20px;
    max-width:200px;
}

#content {
    display:		flex;
	flex-direction:	column;
    max-width:		900px;
    justify-content: center;
    overflow:		hidden;
}

.flex-container{
    justify-content: center;
    margin:auto;
    display:flex;
    width:100%;
}
